# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Scrapy_ZhongHongIndustryResearch_V2_51.settings

[deploy:Scrapy_ZhongHongIndustryResearch_V2_51]
url = http://localhost:6800/
project = Scrapy_ZhongHongIndustryResearch_V2_51
